.form_input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form_input-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.date-label {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #BC8F86;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', cursive;
}

#year {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 24px;
    font-size: 18px;
    width: 250px;
    text-align: center;
    color: #333;
    background-color: #f9f9f9;
    font-family: 'Comic Sans MS', cursive;
}

#year:focus {
    border-color: #66b3ff;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 179, 255, 0.5);
}

